/* Remove this CSS for the header and footer layout */
header {
    margin: -10px;
    background-color: #3d3d3d;
    padding: 5vw;
    text-align: center;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25); /* Shadow effect */
}

body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

nav ul { 
    list-style-type: none;
    padding: 0;
    margin: 5px;
    position: absolute;
    top: 0px;
    left: 10px;
}

nav li {
    display: inline;
    margin-right: 20px;
}

::marker{
  color: transparent;
}

nav a {
    text-decoration: none;
    color: #dadada;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

a {
    text-decoration: none;
    color: #dadada;
    font-weight: bold;
}

a:hover {
    color: white;
}

h2 {
    color: #dadada;
}

h3 {
    color: #dadada;
}

footer {
    margin-top: 5vw;
    margin-left: -5vw;
    margin-bottom: -5vw;
    margin-right: -5vw;
    background-color: #3d3d3d;
    padding: 5vw;
    padding-top: 0vw;
    padding-bottom: 1vw;
    text-align: center;
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.25);
}

.contact  {
    display: inline-block;
    text-align: left;
    margin: 10px;
    width: 45%;
}

.social  {
    display: inline-block;
    text-align: right;
    margin: 10px;
    width: 45%;
}

.my-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #afafaf; /* Button background color */
    color: black; /* Button text color */
    text-decoration: none;
    border: 2px solid #3d3d3d; /* Button border color */
    border-radius: 15px; /* Rounded corners */
    transition: all 0.3s ease; /* Smooth transition effect */
}

.my-button:hover {
    background-color: #3d3d3d; /* Button background color on hover */
    color: #fff; /* Button text color on hover */
    border-color: #343434; /* Button border color on hover */
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.25); /* Slightly reduced shadow on hover */
}

.contact, .social {
    display: inline-block;
    text-align: left;
    margin: 10px;
    width: 45%;
}

.clear {
    clear: both;
}

.hidden {
    opacity: 0; /* Set initial opacity to 0 */
    transition: opacity 1s ease; /* Smooth transition for opacity */
}