/*<-- header stuff -->*/
.header {
    background-color: #773d0d;
    padding-bottom: 0vw;
    text-align: center;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 83%;
    z-index: 1;
}

.header-image {
    max-width: 15vw; /* Adjust the image size as needed */
    height: auto;
    margin-right: 1vw;
}

.button-container {
    flex-grow: 1;
    display: flex;
    gap: 10px;
    align-items: flex-end;
    justify-content: space-around;
}

.header-button {
    flex-grow: 1; /* Make each button fill the available space evenly */
    background-color: #6b380e; /* Button background color */
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 1vw; 
    color: #fff;
    border: none;
    padding: 1vw 2vw;
    margin-bottom: 0vw;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; /* Center button text */
}

.used-button {
    flex-grow: 1;
    background-color: #502a0b;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 1vw;
    color: #fff;
    border: none;
    padding: 0.3vw 2vw;
    margin-bottom: 0vw;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.header-button:hover {
    background-color: #502a0b;
}

.data{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5vw;
}

.avatar{
    width: 3.5vw;
    margin-right: 1vw;
    border: 0.35vw solid #302000;
    border-radius: 40px;
    cursor: pointer;
    background-image: url(Images/Avatar.png);
}

.vt-line {
    margin-right: 2vw;
    height: 4vw;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: 0.3vw solid #302000;
    border-image: initial;
}
/*<-- body -->*/

body {
    margin-top: 10vw;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 1vw;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    margin-top: 3vw;
    background-color: #ffd5a9;
    text-align: center;
    position: relative;
    border: 0.25vw solid #4d3521;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.info-container {
    width: -webkit-fill-available;
    text-align: -webkit-left;
    margin-bottom: 1vw;
}

.cafe-image {
    width: 250px;
    padding: 1vw;
}

.hr-line {
    margin: 1vw;
    width: auto;
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-image: initial;
    border-top: 0.15vw solid #000;
}

.sign{
    border: 0.25vw solid #4d3521;
    border-radius: 5px;
}

/*<-- footer stuff-->*/
footer {
    margin: 2vw -1vw -2vw -1vw;
    background-color: #773d0d;
    color: white;
    text-align: center;
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.25);
}

.contact  {
    display: inline-block;
    text-align: left;
    margin: 10px;
    width: 45%;
}

.social  {
    display: inline-block;
    text-align: right;
    margin: 10px;
    width: 45%;
}

/*<-- fonts -->*/
nav ul { 
    list-style-type: none;
    padding: 0;
    margin: 5px;
    position: absolute;
    top: 0px;
    left: 10px;
}

nav li {
    display: inline;
    margin-right: 20px;
}

::marker{
  color: transparent;
}

a {
    font-size: 1.35vw;
    text-decoration: none;
    color: #fbdab7;
    font-weight: bold;
}

a:hover {
    color: white;
}

h1 {
        text-align: center; /* Center text horizontally */
        font-size: 24px; /* Adjust font size as needed */
}

h2 {
    font-size: 1.5vw;
    color: #fbdab7;
}

h3 {
    font-size: 1.35vw;
    color: #fbdab7;
}

h4{
    font-size: 20px;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 0vw;
    margin-bottom: 1vw;
}
