/*<-- header stuff -->*/
.header {
    margin: -10px;
    background-color: #773d0d;
    padding: 2vw;
    padding-top: 2vw;
    padding-bottom: 0vw;
    text-align: center;
    position: relative;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: flex-end;
}

.header-image {
    max-width: 15vw; /* Adjust the image size as needed */
    height: auto;
    margin-right: 1vw;
}

.button-container {
    flex-grow: 1;
    display: flex;
    gap: 10px;
    align-items: flex-end;
    justify-content: space-around;
}

.header-button {
    flex-grow: 1; /* Make each button fill the available space evenly */
    background-color: #6b380e; /* Button background color */
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 1vw; 
    color: #fff;
    border: none;
    padding: 1vw 2vw;
    margin-bottom: 0vw;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; /* Center button text */
}

.used-button {
    flex-grow: 1;
    background-color: #502a0b;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 1vw;
    color: #fff;
    border: none;
    padding: 0.3vw 2vw;
    margin-bottom: 0vw;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.header-button:hover {
    background-color: #502a0b;
}

.data{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5vw;
}

.avatar{
    width: 3.5vw;
    border: 0.35vw solid #302000;
    border-radius: 40px;
    cursor: pointer;
    background-image: url("Images/Avatar.png");
}

.vt-line {
    margin-right: 2vw;
    height: 4vw;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: 0.3vw solid #302000;
    border-image: initial;
}

/*<-- body -->*/

body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 1vw;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    background-color: #ffd5a9;
    text-align: center;
    position: relative;
    border: 0.25vw solid #4d3521;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.info-container {
    width: -webkit-fill-available;
    text-align: -webkit-left;
    margin-bottom: 1vw;
}

.cafe-image{
    width: 250px;
    padding: 1vw;
    border-radius: 20px;
}

.hr-line {
    margin: 1vw;
    width: auto;
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-image: initial;
    border-top: 0.15vw solid #000;
}

.sign{
    border: 0.25vw solid #4d3521;
    border-radius: 5px;
}

/* CSS for button container and buttons */

.picture-button {
    border: 2px solid #007BFF;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

/* CSS for gallery */
.gallery {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.gallery-content {
    display: flex;
    background-color: white;
    padding: 20px;
    margin-top: 11vw;
    margin-left: 8vw;
    border-radius: 5px;
    border: 0.35vw solid #4d3521;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.food-content {
    display: flex;
    background-color: white;
    padding: 20px;
    margin-top: 5vw;
    margin-left: 8vw;
    border-radius: 5px;
    border: 0.35vw solid #4d3521;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.food-image{
    width: 400px;
    padding: 1vw;
    border-radius: 20px;
}

.food-button {
    margin: 0.5vw; /* Make each button fill the available space evenly */
    height: 8vw; /* Button background color */
    flex-grow: 1;
    background-color: #ffd5a9;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 1.5vw;
    color: #000;
    border: 0.35vw solid #6b380e;
    padding: 1vw 1vw;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; /* Center button text */
    display: flex;
    align-items: center;
    justify-content: center;
}

.food-button: hover{
    background-color: #bf8d58;
}

.available-button {
    margin: 0.5vw; /* Make each button fill the available space evenly */
    height: 8vw; /* Button background color */
    flex-grow: 1;
    background-color: #68d898;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 1.5vw;
    color: #000;
    border: 0.35vw solid #027f38;
    padding: 1vw 1vw;
    border-radius: 5px;
    text-align: center; /* Center button text */
    display: flex;
    align-items: center;
    justify-content: center;
}

.unavailable-button {
    margin: 0.5vw; /* Make each button fill the available space evenly */
    height: 8vw; /* Button background color */
    flex-grow: 1;
    background-color: #d86868;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 1.5vw;
    color: #000;
    border: 0.35vw solid #7f0202;
    padding: 1vw 1vw;
    border-radius: 5px;
    text-align: center; /* Center button text */
    display: flex;
    align-items: center;
    justify-content: center;
}


/* CSS for close button */
.close-button {
    background-image: url('Images/ExitButton.png');
    width: 50px;
    height: 50px; 
    cursor: pointer;
}

.gallery-pic{
    width: 20vw;
    height: auto;
}


/*<-- footer stuff-->*/
footer {
    margin-top: 5vw;
    margin-left: -5vw;
    margin-right: -5vw;
    margin-bottom: -5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: #773d0d;
    padding-bottom: 1vw;
    text-align: center;
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.25); /* Shadow effect */
}

.contact  {
    display: inline-block;
    text-align: left;
    margin: 10px;
    width: 45%;
}

.social  {
    display: inline-block;
    text-align: right;
    margin: 10px;
    width: 45%;
}

/*<-- fonts -->*/
nav ul { 
    list-style-type: none;
    padding: 0;
    margin: 5px;
    position: absolute;
    top: 0px;
    left: 10px;
}

nav li {
    display: inline;
    margin-right: 20px;
}

a {
    font-size: 1.35vw;
    text-decoration: none;
    color: #fbdab7;
    font-weight: bold;
}

a:hover {
    color: white;
}

h1 {
        text-align: center; 
        font-size: 24px; 
        padding-top: 1vw;
}

h2 {
    font-size: 2vw;
    color: #fbdab7;
}

h3 {
    font-size: 1.35vw;
    color: #fbdab7;
}

h4{
    margin-left: 2vw;
    margin-right: 2vw;
}