/*<-- header stuff -->*/
.header {
    background-color: black;
    padding-bottom: 0vw;
    text-align: center;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 88%;
    z-index: 1;
    justify-content: space-around;
}

.header-image {
    max-width: 15vw;
    height: auto;
    border: 1px solid blue;
    padding-block: 2vw;
    padding-inline: 1vw;
}

.button-container {
    display: flex;
    align-items: center;
    margin-right: 1vw;
    justify-content: space-evenly;
}


.btn-5 {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 

.btn-5:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}


.header-button {
    background-color: black;
    font-family: 'Android', cursive, sans-serif;
    font-size: 1vw;
    color: #fff;
    border: none;
    padding: 2vw 2vw;
    margin-bottom: 0vw;
    cursor: pointer;
    text-align: center;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.header-button:hover {
    background-color: #262626;

    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;     
}


.used-button {
    background-color: #262626;
    font-family: 'Android', cursive, sans-serif;
    font-size: 1vw;
    color: #fff;
    padding: 2vw 2vw;
    margin-bottom: 0vw;
    cursor: pointer;
    text-align: center;

    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
}

.data{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5vw;
}

.avatar{
    width: 3.5vw;
    margin-right: 1vw;
    border: 0.35vw solid #302000;
    border-radius: 40px;
    cursor: pointer;
    background-image: url(Images/Avatar.png);
}

.vt-line {
    margin-right: 1vw;
    margin-left: -0.3vw;
    height: 2vw;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: 0.3vw solid white;
}

/*<-- main stuff-->*/
body {
    margin-top: 10vw;
    font-family: 'Android', cursive, sans-serif;
    font-size: 1vw;
    background-color: #1a1a1a;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.red-square{
    border-radius: 5vw;
    min-width: 15vw;
    max-width: 20vw;
    max-height: 20vw;
    min-height: 15vw;
}

.yellow-square{
    border-radius: 5vw;
    min-width: 15vw;
    max-width: 20vw;
    max-height: 20vw;
    min-height: 15vw;
}

.green-square{
    border-radius: 5vw;
    min-width: 15vw;
    max-width: 20vw;
    max-height: 20vw;
    min-height: 15vw;
}

.blue-square{
    border-radius: 5vw;
    min-width: 15vw;
    max-width: 20vw;
    max-height: 20vw;
    min-height: 15vw;
}

.carousel-container {
    max-width: 80%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.carousel-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    flex: 0 0 100%;
}

img {
    width: 100%;
    height: auto;
}

.slider {
    -webkit-appearance: none;
    width: 98.9%;
    height: 30px;
    border: 1px solid white;
    border-radius: 10vw;
    background: none;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .9s;
    transition: opacity .2s;
    padding-left: 3px;
    padding-right: 3px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 25px;
  border-radius: 10vw;
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

button {
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
}

/*<-- footer stuff-->*/
footer {
    margin-top: 2vw;
    margin-bottom: -2vw;
    margin-left: -2vw;
    margin-right: -2vw;
    background-color: black;
    color: white;
    text-align: center;
}

.contact  {
    display: inline-block;
    text-align: left;
    margin: 10px;
    width: 45%;
}

.social  {
    display: inline-block;
    text-align: right;
    margin: 10px;
    width: 45%;
}

/*<-- fonts -->*/
nav ul { 
    list-style-type: none;
    padding: 0;
    margin: 5px;
    position: absolute;
    top: 0px;
    left: 10px;
}

nav li {
    display: inline;
    margin-right: 20px;
}

a {
    font-size: 1.35vw;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    color: grey;
}

h1 {
        text-align: center; /* Center text horizontally */
        font-size: 24px; /* Adjust font size as needed */
}

h2 {
     font-size: 2vw;
}

h3 {
    font-size: 1.35vw;
}

h4{
    font-size: 20px;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 0vw;
}